<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		<property name="use_sql_comments">false</property>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/hotel_data_base</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Zukunft3</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<property name="hibernate.hbm2ddl.auto">create</property>
		

		<!-- add classes to map from here -->
		<mapping class="com.entity.Equipment" />
		<mapping class="com.entity.Guest_VIP" />
		<mapping class="com.entity.Guest" />
		<mapping class="com.entity.Invoice" />
		<mapping class="com.entity.Room_service" />
		<mapping class="com.entity.Room" />
	</session-factory>
</hibernate-configuration>